<footer class="bg-light text-center text-muted py-3 fixed-bottom">
  <div class="container">
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=53CD2WNX3698E&lc=US&item_name=PREngineer&item_number=RPi-PXE-Server&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank" rel="noopener" class="d-inline-block">
      <small>Support the Project</small>
    </a>
    <br>
    <small>&copy; {{ current_year if current_year is defined else "" }} Jorge Pabón <a href="https://www.github.com/PREngineer">(GH: PREngineer)</a></small>
  </div>
</footer>